@tailwind base;
@tailwind components;
@tailwind utilities;

#main-wrapper{
  
  background-image: url('./images/bg-stars.svg'), url('./images/pattern-hills.svg');
  background-repeat: no-repeat,no-repeat;
  background-position: top, bottom;
  background-color: rgba(33,29,43,255);
 
}

.bottom-box{
  --mask: radial-gradient(5px at 5px 0,#0000 98%,#000) -5px;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}
.top-box{
  --mask: radial-gradient(5px at 5px 100%,#0000 98%,#000) -5px;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}
@media (min-width:768px) {
  
  .bottom-box{
    --mask: radial-gradient(5px at 5px 0,#0000 98%,#000) -5px;
    -webkit-mask: var(--mask);
            mask: var(--mask);
  }
  .top-box{
    --mask: radial-gradient(5px at 5px 100%,#0000 98%,#000) -5px;
    -webkit-mask: var(--mask);
            mask: var(--mask);
  }
  
}


svg:hover path {
  fill: hsl(345, 95%, 68%);
  
 
}

svg path{
  transition: fill 0.5s ease-in-out; 
}